* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* COMMON */
a {
    text-decoration: none;
}
.main-content {
    width: 1170px;
    min-width: calc(100% -48px);
    margin-left: auto;
    margin-right: auto;
}
.btn {
    display: inline-block;
    padding: 0 12px;
    min-width: 185px;
    line-height: 48px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}
/* HEADER */
.header.fixed {
    position: sticky;
    top: -44px;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0 8px;
}
.header .nav {
    margin-left: auto;
}
.nav ul {
    display: flex;
}
.nav a {
    padding: 8px 20px;
    color: #2f3a3b;
    font-size: 1.6rem;
}
.nav a:hover {
    color: #2f3a3b;
    text-shadow: 1px 0 0 currentColor;
}
.header .sign-btn {
    min-width: 108px;
}
.header .action {
    margin-left: 157px;
}
.header .action a {
    padding: 8px 20px;
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}
.header .action a:hover {
    color: #1ebfc1;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
    border: 1px solid #1ebfc1;
}
/* HERO */
.hero {
    padding: 42px;
}
.hero .body {
    display: flex;
}
/* CONTENT-BLOCK */
.hero .content-block {
    width: 45%;
}
.content-block .title {
    margin-top: 93px;
    margin-bottom: 18px;
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}
.content-block .heading {
    color: #0d1111;
    font-family: Poppins;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 72px;
    margin-bottom: 46px;
}
.content-block .desc {
    color: #9da6a5;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 52px;
}
.content-block .cta-group{
    display: flex;
}
.content-block .btn {
    margin-right: 50px;
    padding: 12px 0;
    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.content-block .watch-video{
    background-color: #fff;
    border: none;
    border-radius: 50%;
}
.content-block .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}
/* MEDIA-BLOCK */
.hero .media-block {
    position: relative;
    width: 55%;
}
.hero .media-block .img {
    width: 576px;
    height: 631px;
    margin-left: 66.5px;
    object-fit: cover;
    background-color: #d8f6f7;
}
/* courses */
.hero .courses {
    position: absolute;
    left: 0;
    width: 157px;
    padding: 17px 25px;
    top: 149px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .item {
    display: flex;
}
.hero .icon {
    margin-right: 16px;
}
.hero .item p {
    color: #0d1111;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/* Schedules */
.hero .Schedules {
    position: absolute;
    left: 0;
    bottom: 55px;
    width: 124px;
    padding: 16px 35px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .Schedules .label {
    text-align: center;
    padding-bottom: 6px;
    color: #0d1111;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 600;
}
.hero .item .last-bar {
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* group-stud */
.hero .group-stud {
    position: absolute;
    right: 50px;
    bottom: 41px;
    padding: 17px 35px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}
.group-stud .label {
    margin-bottom: 8px;
}
