* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* COMMON */
a {
    text-decoration: none;
}
.main-content {
    width: 1170px;
    min-width: calc(100% -48px);
    margin-left: auto;
    margin-right: auto;
}
.btn {
    display: inline-block;
    padding: 0 12px;
    min-width: 185px;
    line-height: 48px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}
/* HEADER */
.header.fixed {
    position: sticky;
    top: -44px;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0 8px;
}
.header .nav {
    margin-left: auto;
}
.nav ul {
    display: flex;
}
.nav a {
    padding: 8px 20px;
    color: #2f3a3b;
    font-size: 1.6rem;
}
.nav a:hover {
    color: #2f3a3b;
    text-shadow: 1px 0 0 currentColor;
}
.header .sign-btn {
    min-width: 108px;
}
.header .action {
    margin-left: 157px;
}
.header .action a {
    padding: 8px 20px;
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}
.header .action a:hover {
    color: #1ebfc1;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
    border: 1px solid #1ebfc1;
}
