* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* COMMON */
a {
    text-decoration: none;
}
.main-content {
    width: 1170px;
    min-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.btn {
    display: inline-block;
    padding: 0 12px;
    min-width: 185px;
    line-height: 48px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}
/* HEADER */

.header.fixed {
    position: sticky;
    top: -8px;
    z-index: 1;
    background-color: #94e1e2;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 8px 0 8px;
}
.header .nav {
    margin-left: auto;
}
.nav ul {
    display: flex;
}
.nav a {
    padding: 8px 20px;
    color: #2f3a3b;
    font-size: 1.6rem;
}
.nav a:hover {
    color: #2f3a3b;
    text-shadow: 1px 0 0 currentColor;
}
.header .sign-btn {
    min-width: 108px;
}
.header .action {
    margin-left: 157px;
}
.header .action a {
    padding: 8px 20px;
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}
.header .action a:hover {
    color: #1ebfc1;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
    border: 1px solid #1ebfc1;
}
/* HERO */
.hero {
    padding: 42px;
}
.hero .body {
    display: flex;
}
/* CONTENT-BLOCK */
.hero .content-block {
    width: 45%;
}
.content-block .title {
    margin-top: 93px;
    margin-bottom: 18px;
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}
.content-block .heading {
    color: #0d1111;
    font-family: Poppins;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 72px;
    margin-bottom: 46px;
}
.content-block .desc {
    color: #9da6a5;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 52px;
}
.content-block .cta-group {
    display: flex;
}
.content-block .btn {
    margin-right: 50px;
    padding: 12px 0;
    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.content-block .watch-video {
    background-color: #fff;
    border: none;
    border-radius: 50%;
}
.content-block .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}
/* MEDIA-BLOCK */
.hero .media-block {
    position: relative;
    width: 55%;
}
.hero .media-block .img {
    width: 576px;
    height: 631px;
    margin-left: 66.5px;
    object-fit: cover;
    background-color: #d8f6f7;
}
/* courses */
.hero .courses {
    position: absolute;
    left: 0;
    width: 157px;
    padding: 17px 25px;
    top: 149px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .item {
    display: flex;
}
.hero .icon {
    margin-right: 16px;
}
.hero .item p {
    color: #0d1111;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/* Schedules */
.hero .Schedules {
    position: absolute;
    left: 0;
    bottom: 55px;
    width: 124px;
    padding: 16px 35px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .Schedules .label {
    text-align: center;
    padding-bottom: 6px;
    color: #0d1111;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 600;
}
.hero .item .last-bar {
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* group-stud */
.hero .group-stud {
    position: absolute;
    right: 50px;
    bottom: 41px;
    padding: 17px 35px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}
.group-stud .label {
    margin-bottom: 8px;
}
/* FEATURES */
.features .features-top {
    margin: 130px 0 80px 0;
    width: 591px;
}
.features-top .title {
    color: #767e7e;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
}
.features-top .heading {
    margin: 18px 0px;
    color: #0d1111;
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 56px;
}
.features-top .desc {
    color: #767e7e;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
}
.features-bottom .list {
    display: flex;
    width: 1024px;
    justify-content: space-between;
}
.features-bottom .list .item {
    width: 168px;
}
.features-bottom .item .title {
    margin: 26px 0 16px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}
.features-bottom .item .desc {
    color: #9da6a5;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 27px;
}
/* POPULAR */
.popular {
    margin-top: 130px;
}
.popular-top .title {
    color: #767e7e;
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 700;
}
.popular-top .heading {
    padding: 18px 0;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
}
.popular-top .item {
    display: flex;
    justify-content: space-between;
}
.popular-top .item .desc {
    width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 32px;
}
.popular-top .item a {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}
.popular-bottom {
    margin-top: 80px;
}
.popular-bottom .list {
    display: flex;
    gap: 30px;
}
.popular-bottom .item {
    width: 33.33%;
    position: relative;
}
.popular-bottom .item .images {
    width: 100%;
    height: 393px;
    border-radius: 8px;
    opacity: 0.8;
    background: #d0efed;
    object-fit: cover;
}
.popular-bottom .item .info {
    right: 24px;
    width: 325px;
    bottom: -100px;
    position: absolute;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}
.popular-bottom .body {
    margin: 18px 0 29px 25px;
}
.popular-bottom .title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}
.popular-bottom .body .span {
    margin: 16px 0 6px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}
.popular-bottom .body strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}
.popular-bottom .body .desc {
    margin-right: 10px;
    margin-bottom: 18px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}
.popular-bottom .body .group {
    display: flex;
}
.popular-bottom .group-info .desc {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular-bottom .group-info .desc::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #1ebfc1;
}
/* COUNTDOWN */
.countdown {
    margin-top: 265px;
    height: 481px;
}
.countdown .body {
    padding: 0 156px;
}
.countdown .list {
    display: flex;
    justify-content: space-between;
}
.countdown .list {
    text-align: center;
}
.countdown .heading {
    color: #0d1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
    padding-bottom: 11px;
}
.countdown .desc {
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
}
/* TESTIMONIAL */
.testimonial {
    height: 481px;
}
.testimonial .body {
    display: flex;
}
.testimonial .left-body {
    width: 35%;
}
.testimonial .left-body .desc {
    padding: 27px 0px 33px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 48px;
}
.testimonial .left-body .title {
    display: flex;
    align-items: center;
    display: flex;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 52px;
}
.testimonial .left-body .title::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}
.testimonial .left-body strong {
    color: #070707;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
}
.testimonial .right-body {
    width: 65%;
    height: 481px;
}
.testimonial .list {
    position: relative;
}
.testimonial .list img {
    position: absolute;
    border-radius: 50%;
}
.testimonial .list .images-center {
    top: 88px;
    left: 271px;
    background-color: #ff8282;
}
.testimonial .list .images-1 {
    background-color: #1ebfc1;
    left: 144px;
    top: 0;
}
.testimonial .list .images-2 {
    background-color: #ffc147;
    left: 0px;
    top: 258px;
}
.testimonial .list .images-3 {
    left: 212px;
    top: 400px;
    background-color: #ff8282;
}
.testimonial .list .images-4 {
    left: 569px;
    top: 355px;
    background-color: #b1dfdc;
}
.testimonial .list .images-5 {
    left: 679px;
    top: 50px;
    background-color: #bf83ff;
}
/* BASE */
.base {
    height: 272px;
    margin-top: 130px;
    background-color: #def6f5;
}
.base .base-top {
    display: flex;
    align-items: center;
}
.base .base-top .heading {
    padding: 76px 0 18px;
    color: #070707;
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 700;
}
.base .base-top .desc {
    margin-bottom: 88px;
    color: #767e7e;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
}
.base .base-top a {
    padding: 20px 0;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}
.base .base-top .btn {
    border-radius: 14px;
    margin-top: 96px;
    margin-left: 350px;
    background: #2ac9bf;
}
.base .base-bottom {
    margin-top: 130px;
}
.base .base-bottom .list {
    display: flex;
    gap: 144px;
}
.base-bottom .list .item-2 {
    display: flex;
    justify-content: space-between;
    gap: 144px;
}
.base-bottom .list .item-2 strong {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 25px;
}
.base-bottom .list .item-2 li {
    color: #535353;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 16px;
}
.base-bottom .list .item-2 .group {
    display: flex;
    align-items: center;
    justify-content: center;
}
.base-bottom .list .group li {
}
